header {
    width: 100%;
    height: 150px;
    background-color: rgba(94, 41, 154, .9);
    z-index: 2;
    position: relative;
}

.container-fluid {
    width: 100%;
    position: relative;
}

header .header-black {

    width: 100%;
    background-color: #000;
    height: 50px;
}

header .header-black li {
    background-image: url("../img/clubs.png");
    background-repeat: no-repeat;
    display: inline-block;
    margin: 8px 6px;
}

#menu {
    margin: 12px 0;
    top: 8px;
}

#menu li {
    display: inline-block;
}

#menu li a {
    color: #fff;
    font-size: 17px;
    padding: 10px 25px;
    text-decoration: none;
    transition: .3s ease-in;
}

#menu li a:hover {
    background-color: #4e267c;
    transition: .1s ease-in;
    border-radius: 10px;
}

#menu li.search {
    width: 182px;
    transition-timing-function: cubic-bezier(1,-.91,.91,1);
    transition-duration: 1s;
}
#menu li.search.ativo{
    width: 300px;
}
#menu li.search .input-group {
    top: 11px;
}

#menu li.search input {
    background-color: #4e267c;
    color: #fff;
    border: none;
    border-radius: 5px;
    height: 35px;
    line-height: 35px;
    opacity: 0.5;
    transition: 1s ease;
}
#menu li.search.ativo input{
    width: 300px;
}

#menu li.search input:hover {
    cursor: pointer;
    filter: blur(0.1);
    transition: 1s ease;
    opacity: 1;
}

#menu li.search ::-webkit-input-placeholder {
    color: #fff;
}

#menu li.search button {
    background: none;
    border: none;
    position: absolute;
    right: 2px;
    top: 2px;
}

#menu li.search button i {
    font-size: 15px;
    color: rgba(255, 255, 255, .5);
}

header .header-black li .club-01 {
    background-position: 0px 0px;
}

header .header-black li.club-02 {
    background-position: -48px 0px;
}

header .header-black li.club-03 {
    background-position: -89px 0px;
}

header .header-black li.club-04 {
    background-position: -139px 0px;
}

header .header-black li.club-05 {
    background-position: -189px 0px;
}

header .header-black li.club-06 {
    background-position: -239px 0px;
}

header .header-black li.club-07 {
    background-position: -289px 0px;
}

header .header-black li.club-08 {
    background-position: -335px 0px;
}

header .header-black li.club-09 {
    background-position: -380px 0px;
}

header .header-black li.club-010 {
    background-position: -429px 0px;
}

header .header-black li.club-011 {
    background-position: -479px 0px;
}

header .header-black li.club-012 {
    background-position: -529px 0px;
}

header .header-black li.club-013 {
    background-position: -579px 0px;
}

header .header-black li.club-014 {
    background-position: -629px 0px;
}

header .header-black li.club-015 {
    background-position: -675px 0px;
}

header .header-black li.club-016 {
    background-position: -722px 0px;
}

header .header-black li.club-017 {
    background-position: -765px 0px;
}

header .header-black li.club-018 {
    background-position: -808px 0px;
}

header .header-black li.club-019 {
    background-position: -855px 0px;
}

header .header-black li.club-020 {
    background-position: -899px 0px;
}

header .header-black li.club-021 {
    background-position: -949px 0px;
}

header .header-black li.club-022 {
    background-position: -999px 0px;
}

header .header-black li a {
    width: 32px;
    height: 32px;
    display: block;
}

header #logo {
    position: absolute;
    margin-top: 20px;
    margin-left: 100px;
}

#banner {
    width: 100%;
    height: 830px;
    position: relative;
    background: url('../img/Banner-OC.jpg') no-repeat;
    top: -120px;

}


#banner h1 {
    color: #fff;
    top: 300px;
    position: relative;
    font-size: 92px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, .45);
    margin-left: 50px;
}

#banner h1 small {
    display: block;
    font-size: 32px;
    color: #fff;

}

#news {
    position: relative;
    top: -50px;
}

#news h2 {
    color: #5e2799;
    font-size: 48px;
    text-align: center;
    text-transform: uppercase;
}

#news hr {
    border: #fde192 solid 3px;
    width: 250px;
    margin: 0 auto;
}

#news .bnews {
    margin-top: 30px;
}

#news .bnews h3 {
    color: #5e299a;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 0;
}

#news .bnews time {
    color: #a7a7a7;
    font-size: 16px;
}
#news .bnews .item-inner {
    padding: 10px;
}
#news .bnews .item-inner img {
    width: 100%;
}

#estatistica {
    background-color: #5e299a;
    width: 100%;
    height: 200px;
    text-align: center;
}

#estatistica p {
    color: #fde092;
    text-transform: uppercase;
    font-size: 54px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 33px;
}

#estatistica p small {
    color: #fff;
    font-size: 23px;
    display: block;
}

#cta {
    text-align: center;
    margin-top: 105px;
}

#cta h2 {
    color: #5e2799;
    font-family: 'Times New Roman', Times, serif;
    font-size: 46px;
    text-transform: uppercase;
    text-align: center;
}

#cta hr {
    border: #fde092 solid 3px;
    width: 250px;
    margin: 0 auto;
}

#cta p {
    margin-top: 60px;
    margin-bottom: 40px;
    color: #656565;
}

#cta .btn {
    min-width: 164px;
    height: 44px;
    line-height: 34px;
    opacity: 1;
    border-radius: 0;
}

#cta .btn:hover {
    filter: blur(0.1);
    transition: .4s ease;
    opacity: 0.8;
    border-radius: 10px;
}

#cta .btn-roxo {
    color: #fff;
    background-color: #5e299a;
    border-color: #5e299a;
}

#cta .btn-amarelo {
    color: #000;
    background-color: #fde192;
    border-color: #fde192;
}

#cta .row-max-400 {
    margin: 0 auto;
    max-width: 400px;
}

footer {
    margin-top: 110px;
}

footer .row {
    width: 100%;
}

footer .row-cinza-claro {
    height: 230px;
    background-color: #171f26;
}

footer .row-cinza-escuro {
    height: 60px;
    background-color: #11171d;
    border-top: #242d37 1px solid;
}

footer .text-roxo {
    color: #623291;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}

footer .pull-left {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    color: #656565;
    cursor: pointer;
}

footer .row p {
    line-height: 60px;
    margin-bottom: 0;
}

footer .logotipo {
    margin-top: 28px;
}

footer .col-popular-post,
footer .col-links,
footer .col-get-in-touch {
    margin-top: 40px;

}

footer .row-cols h4 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    color: #fff;
    padding-bottom: 17px;
    border-bottom: #242d37 1px solid;
}

footer .row-cols h5 {
    color: #656565;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

footer .row-cols time {
    color: #fde092;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px
}

footer .col-links {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px
}

footer .col-links a {
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
}

footer .col-links .fa {
    margin: 0 8px;
}

footer .col-get-in-touch address {
    color: #656565;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-bottom: 0;
}

footer .col-get-in-touch address span {
    display: inline-block;
}

footer .col-get-in-touch address i {
    position: relative;
    top: -14px;
}

footer .col-get-in-touch i {
    color: #9b9b9b;
    font-size: 20px;
    margin: 0 6px;
}

footer .col-get-in-touch p {
    line-height: 50px;
}

footer .list-sociais {
    margin-top: 4px;
}

footer .list-sociais a {
    display: block;
    border: #9b9b9b 1px solid;
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 14px;
    text-align: center;
}

footer .list-sociais li {
    display: inline-block;
    margin-left: 5px;
}

footer .list-sociais i {
    font-size: 16px;
    margin: 6px auto;
}

video {
    margin-bottom: 40px;
    width: 60%;
}